@import 'layout/layout.css';

.header-logo {
}
.logo-header {
}
.Text-header {
    display: flex;
    font-family: Khula;
    justify-content: space-evenly;
    margin-left: 70%;
}
.header.inicio{
}
.header-aboutUs{
}
.header-contact{
}
.content-company {
}
.title-hero {
font-family: Khula; 
color: white;
padding-left: 10%;
margin-top: 0%;
}
.paragraph-company {
    margin-right: 50%;
    font-family: Khula;
    color: white;
    margin-top: 10%;
    padding-left: 5%;
    text-align: justify;
}
.img-company {
    width: 35%;
    padding-top: 1%;
    padding-left: 60%;
}

.title-service {
    color: white;
    font-family: Khula;
}
.card1-service {
}
.title-service1 {
    color: white;
    font-family: Khula;

}
.card1-logo {
    border-radius: 10%;
    width: 14%;
}
.card2-service {
}
.title-service2 {
    color: white;
    font-family: Khula;
}
.card2-logo {
    border-radius: 10%;
    width: 14%;
}
.card3-service {
}
.title-service3 {
    color: white;
    font-family: Khula;
}
.card3-logo {
    border-radius: 10%;
    width: 14%;
}
.paragraph-service{
    color: white;
    font-family: Khula;
    padding-right: 70%;
    text-align: justify;

}
.title-gallery {
    color: white;
    font-family: Khula;
}
.gallery {
}
.title-productions {
}
.card1-productions {
}
.video-contramarea {
}
.video-subtitle1 {
}
.paragraph-productions1 {
}
.button-video1 {
}
.card2-productions {
}
.video-SantaCruz {
}
.video-subtitle2 {
}
.paragraph-productions2 {
}
.button-video2 {
}
.card3-productions {
}
.video-ZonaAzul {
}
.video-subtitle3 {
}
.paragraph-productions3 {
}
.button-video3 {
}
.footer-section {
}
.title-footer {
}
.name {
}
.logo-footer {
}
.paragraph-footer {
}
.location-footer {
}
.location-logo {
}
.info-location {
}
.footer-services {
}
.services {
}
.footer-company {
}
.company {
}
.social-logos img{
    width: 5%;
    text-align: right;
    margin-left: 1200px;
}
.Sociales-footer {
    display: inline-block;
    margin-left: 1200px;
}